<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101154095844-opds8mmobvqe1khk6hhce8cdrjqe0pdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101154095844-opds8mmobvqe1khk6hhce8cdrjqe0pdg</string>
	<key>API_KEY</key>
	<string>AIzaSyAly_0A8kujIRQ2Jg66utjawoZ_441HJEM</string>
	<key>GCM_SENDER_ID</key>
	<string>101154095844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>supareuk-kajbandit.map-su</string>
	<key>PROJECT_ID</key>
	<string>mapsu-fe99b</string>
	<key>STORAGE_BUCKET</key>
	<string>mapsu-fe99b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101154095844:ios:50be92c8d817653d5162f1</string>
</dict>
</plist>